.wrap {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

span {
  color: white;
  position: absolute;
  right: 0;
  padding: 10px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  position: absolute;
  height: 182px;
  bottom: -9px ;
  transform: scale(0.9);
}

.Spider_Man img {
  bottom: -35px;
}

.Captain_America {
  position: relative;
  width: 270px;
  height: 140px;
  border-radius: 5px;
  background: linear-gradient(#4568DC, #B06AB3) ;
  margin: 30px;
}

.Iron_Man {
  position: relative;
  background: linear-gradient(#e52d27, #b31217) ;
  width: 270px;
  height: 140px;
  border-radius: 5px;
  margin: 30px;
}

.Black_Widow {
  position: relative;
  background: linear-gradient(to right, #000, #61045F) ;
  width: 270px;
  height: 140px;
  border-radius: 5px;
  margin: 30px;
}

.Spider_Man {
  position: relative;
  background: linear-gradient(#e52d27, #000)  ;
  width: 270px;
  height: 140px;
  border-radius: 5px;
  margin: 30px;
}

.superhero_alias {
  font-size: 12px;   
}

.real_name {
  font-size: 9px;
  color: rgba(255, 255,255, 0.5);
}